<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Welcome</h1>
    <p class="p-0">You can try any redirections from the list of examples</p>
    <img src="qonto-logo.png" alt="">
  </div>